@import './less/base.less';
@import './less/row.less';

@import './Component/Navigation-Bar/index.less';
@import './Component/ScrollTop/index.less';
@import './Component/Copyright/index.less';

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000;
}

i {
  display: block;
  background-image: url("./../../dist/img/ico.png");
}

