* {
  padding: 0px;
	margin: 0px;
  font-family: '微软雅黑';

	body {
		width: 100%;
		height: 100%;
	}

	a {
		text-decoration: none;
		color: #000;
	}

	a:hover {
		text-decoration: none;
		color: #000;
	}
}

.myCarousel {
	padding-top: 50px;

	.carousel {
		height: 650px;
		min-width: 1170px;
		width: 100%;

		.carousel-inner {

			img {
				height: 650px;
				width: 100%;
			}
		}
	}
}

.part1 {
	position: relative;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
	min-width: 1170px;
	min-height: 95px;

	.part1-content {
		position: relative;
		width: 1170px;
		margin: 0px auto;
	}

	.part1-content-left {
		width:770px;
		color: #797979;

		h1 {
			padding-top: 30px;
			font-size: 30px;
			margin: 0;
			font-weight: normal;

			span {
				background: #3bb9c4;
				color: #fff;
				font-size: 14px;
				padding: 8px 8px;
				margin-left: 10px;
				position: relative;
				bottom: 5px;
				display:inline-block;
			}
		}

		.village-description {
			padding-top: 20px;
			font-size: 14px;
			padding-bottom: 30px;
			margin: 0;
		}
	}

	.part1-aside {
    position: absolute;
    right: 0px;
    top: -50px;
		height: 50px;
    width: 315px;
    padding: 0 20px;
    background: rgba(0,0,0,0.5);
		z-index: 2;

		> div {
			position: relative;
			font-size: 18px;
			line-height: 50px;
			color: #dbdbdb;

			span {
				position: absolute;
				right: 0px;				
			}
		}
	}
	
	.part1-main {
    position: absolute;
    right: 0;
    top: 0;
		width: 315px;
		
		#myApartment {
			width: 315px;
			padding-top: 30px;
			background: #fff;
			border: #dbdbdb solid 1px;
			z-index: 102;
		}

		.apartmentTitle {
			display: none;
			position: absolute;
			top: -52px;
			width: 315px;
			height: 52px;
			font-size: 18px;
			line-height: 50px;
			text-align: center;
			background: #717686;
			color: #f5f5f5;
		}

		.apartmentReserveDate {
			width: 270px;
			height: 40px;
			margin: 0px auto 20px;
			border: #dbdbdb solid 1px;
			color: #4d5d77;
			overflow: hidden;
			text-align: center;
			font-size: 18px;
			line-height: 40px;
			cursor: pointer;

			> div {
				float: left;
				width: 134px;
			}

			> div:hover {
				background: #6fcca6;
				color: #f5f5f5;
			}
			
			#startDate {
				border-right: #dbdbdb solid 1px;
			}

			#startDate:hover {
				border-right: #6fcca6 solid 1px;
			}

			.select {
				background: #fb8f1c;
				color: #f5f5f5;
			}
		}

		.datetimepicker {
			background: #fff;
			margin-bottom: 20px;

			.datetimepicker-inline {
				width: 268px;
				margin: 0px auto;
				border: #dbdbdb solid 1px;

				.datetimepicker-days,.datetimepicker-months,.datetimepicker-years {

					.table-condensed {
						width: 260px;

						.next,.prev {
							position: relative;
						}

						.next::after {
							content:">";
						}

						.prev::after {
							content:"<";
						}
					}
				}
			}
		}

		#apartmentList {
			width: 270px;
			margin: 0px auto;
			margin-bottom: 20px;
			overflow: hidden;

			.apartment {
				width: 100%;
				height: 40px;
				margin-bottom: 20px;
				line-height: 40px;
				overflow: hidden;
				border-top: #dbdbdb solid 1px;
				border-bottom: #dbdbdb solid 1px;

				> span {
					width: 40px;
					float: left;
					border-left: #dbdbdb solid 1px;
					border-right: #dbdbdb solid 1px;
					text-align: center;
					cursor: pointer;
				}

				> span:hover {
					background-color: #01b969;
					color: #fff;
				}
				> span:active {
					background-color: #fff;
					color: #f23030;
				}

				> div {
					width: 188px;
					float: left;
					text-align: center;
					cursor: pointer;
				}
				> div:active {
					background-color: #f23030;
					color: #fff;
				}
			}

			.apartmentList-infor {
				padding: 20px;
				font-size: 16px;
				line-height: 24px;
				background: #f7f7f7;
				color: #4d5d77;
				border: #dbdbdb solid 1px;
			}

			.apartmentList-submit {
				height: 40px;
				margin: 20px auto 0px;
				font-size: 18px;
				line-height: 40px;
				text-align: center;
				background-color: #01b969;
				color: #fff;
				cursor: pointer;
			}

			.failure {
				background: #f7f7f7;
				color: #4d5d77;
				border: #dbdbdb solid 1px;
				cursor: not-allowed;
			}
		}

		.container {
			position: relative;
			width: 100%;
			height: 140px;
			padding:10px;
			background:#fff;
			border-top: #dbdbdb solid 1px;
			.container-left {
				.container-content {
					position: relative;
					top: -8px;
					width: 120px;
					>div{
						position: relative;
						left: 25px;
						top: 10px;
						margin-top: 10px;
					}
					article {
						position: relative;
						text-align: center;
						position: relative;
						top: -5px;
						left: -15px;
						.weixinQRcode {
							display: none;
							position: relative;
							top: -115px;
							left: -5px;
						}
					}
					article:hover{
						.weixinQRcode{
							display: block;
						}
						.weixinAccount {
							visibility: hidden;
						}
					}
					svg {
						position: relative;
						top: 2.5px;
					}
				}
				border-right: 1px solid #dbdbdb;
				float: left;
				width: 145px;
				height: 120px;
				i {
					width: 120px;
					height: 120px;
					background-position: 0px -115px;
				}
			}
			.container-right {
				position: absolute;
				top: 10px;
				left:170px;
				width: 120px;
				height: 120px;
				> div {
					padding-top: 10px;
					font-size:16px;
					padding-bottom:10px;
				}
				p {
					font-size:12px;
					margin:0px;
					padding-right: 5px;
				}
			}
		}
	}

	.scrollFlex {
		position: fixed;
		top: 50px;
	}
}

.part2 {
	background: #f9f9f9;
	color: #797979;
	padding: 25px 0px;
	border-bottom: 1px solid #f1f1f1;

	.part2-content {

		.part2-title {
			padding-bottom: 20px;
			font-size: 30px;
			margin: 0;
			font-weight: normal;
		}

		width: 1170px;
		margin: 0px auto;
	}
}

.part3 {
	padding-top: 25px;
	min-height: 700px;
	color: #797979;
	
	.part3-content {
		width: 1170px;
		margin: 0px auto;
		
		.part3-title {
			padding-bottom: 20px;
			font-size: 30px;
			margin: 0;
			font-weight: normal;
		}

		#apartmentDetail {
			overflow: hidden;
			width: 820px;
			padding-bottom: 75px;

			> div {
				float: left;
			}

			.apartment-block {
				width: 365px;
				padding: 25px;

				.apartment-content {
					border: #dbdbdb solid 1px;
					transition: all 0.3s cubic-bezier(.25,.8,.25,1);
				}

				.apartment-content:hover {
					box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 10px 14px rgba(0,0,0,0.22);
				}

				.img-content {
					position: relative;

					img {
						width: 100%;
						height: 160px;
					}

					.apartment-confirm {
						position: absolute;
						bottom: -24px;
						right: 24px;
						width: 48px;
						height: 48px;
						border-radius: 24px;
						text-align: center;
						line-height: 42px;
						font-size: 36px;
						color: #fff;
						background: rgb(1, 185, 105);
						cursor: pointer;
					}

					.apartment-confirm:active, .apartment-confirm:hover {
						background: #fb8f1c;
					}

					.disable {
						background: rgb(207, 207, 207);
						cursor: not-allowed;
					}
				}

				.apartment-depiction {
					padding: 10px;

					.apartment-apartmentName {
						font-size: 16px;
						padding-bottom: 5px;
						color: rgb(53, 56, 57);
					}

					.apartment-introduction {
						position: relative;
						padding-bottom: 5px;
						color: #4d5d77;
						
						.apartment-price {
							position: absolute;
							right: 0px;
							bottom: 0px;
						}
					}

					.apartment-Desc {
						height: 52px;
						line-height: 26px;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						overflow: hidden;
					}
				}
				
				.apartment-line {
					height: 1px;
					background: #dbdbdb;
				}
				
				.apartment-showDetail {
					padding: 10px;
					cursor: pointer;
				}
			}

		}

		#apartmentDetail2 {
			.apartment-block {
				position: relative;
				width:770px;
				min-height: 210px;
				padding: 30px;
				transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
				cursor: pointer;
		
				.apartment-content {
					position: relative;
					height: 150px;
					width: 708px;
		
					.apartment-depiction {
						position: absolute;
						top: 0px;
						left: 280px;
						width: 428px;
						height: 100%;
						word-wrap: break-word;
		
						.apartment-title {
							font-size: 18px;
							padding-bottom: 10px;
							font-weight: 500;
						}
		
						.apartment-introduction {
							color: #9e9e9e;
		
							p {
									margin: 0px;
							}
						}
		
						.apartment-price {
							position: absolute;
							color: rgba(25, 163, 220, 0.87);
							font-size: 16px;
							left: 0px;
							bottom: -2.5px;
		
							span {
							font-size: 18px;
							color: #FC5D7B;
							}
						}
		
						.apartment-confirm,.apartment-select,.apartment-selected {
							position: absolute;
							bottom: 0px;
							height: 40px;
							line-height: 40px;
							font-size: 16px;
							text-align: center;
							color: #fff;
						}
	
						.apartment-confirm {
							right: 85px;
							width: 120px;
							border: solid 1px rgba(25, 163, 220, 0.87);
							background: rgba(25, 163, 220, 0.87);
						}
	
						.apartment-select {
							right: 0px;
							width: 75px;
							border: solid 1px rgba(25, 163, 220, 0.87);
							background: rgba(25, 163, 220, 0.87);
						}
	
						.apartment-selected {
							right: 0px;
							width: 75px;
							border: solid 1px #01b969;
							background: #01b969;
						}
		
						.apartment-confirm:hover,.apartment-select:hover {
							background: #fff;
							color: rgba(25, 163, 220, 0.87);
						}
					}
		
					>img {
						height: 100%;
						width: 250px;
					}
				}
		
				.apartment-line {
					position: absolute;
					width: 708px;
					height: 1px;
					background: rgba(0, 0, 0, 0.25);
					bottom: -2px;
				}
			}
		
			.apartment-block:hover {
				background: #fff;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		
				.apartment-line {
					display: none;
				}
			}
			
		}

		.isHover {
			background: #fff;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	
			.apartment-line {
				display: none;
			}
		}

		.message-infor {
			width:770px;
			padding: 20px;
			font-size: 16px;
			line-height: 24px;
			background: #f7f7f7;
			color: #4d5d77;
			border: #dbdbdb solid 1px;
		}
	}
}

.part3-modal {

	.modal-dialog {
		width: 700px;
    margin: 50px auto 0px;
	}

	.modal-content {
		width: 700px;
		min-height: 700px;

		img {
			width: 100%;
			max-height: 420px;
		}

		.modal-depiction {
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;
			color: #5F5F5F;
			font-size: 16px;

			h3 {
				color: #303030;
				font-size: 22px;
			}
		}
	}
}

footer {
	min-width: 1170px;
}
.loader--audioWave {
	position: relative;
	top: 5px;
	margin: 0 auto;
	width: 3em;
	height: 2em;
	background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
	background-repeat: no-repeat;
	background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
	animation: audioWave 1.5s linear infinite;
}
@keyframes audioWave {
	25% {
		background: linear-gradient(#3498db, #3498db) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
		background-repeat: no-repeat;
		background-size: 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
	}
	37.5% {
		background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#3498db, #3498db) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
		background-repeat: no-repeat;
		background-size: 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
	}
	50% {
		background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#3498db, #3498db) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
		background-repeat: no-repeat;
		background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em;
	}
	62.5% {
		background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#3498db, #3498db) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
		background-repeat: no-repeat;
		background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em;
	}
	75% {
		background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#3498db, #3498db) 2.5em 50%;
		background-repeat: no-repeat;
		background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em;
	}
}